<div class="container">
  <form class="form__reactive" [formGroup]="reactiveForm">
    <h1 class="form__reactive-title">Reactive Form</h1>
    <div class="form-block">
      <label class="form__reactive-subtitle">USERNAME</label>
      <div class="input-box">
        <input class="form__reactive-input" type="text" placeholder="username" formControlName="username">
        <div class="eyes">
          <div class="eyes-one"></div>
          <div class="eyes-second"></div>
        </div>
      </div>
      <div
        class="validators"
        *ngIf="reactiveForm.get('username')?.invalid && reactiveForm.get('username')?.touched"
      >
        <small
          class="form__reactive-error"
          *ngIf="reactiveForm.get('username')?.errors?.required"
        >
          Required field!
        </small>

        <small
          class="form__reactive-error"
          *ngIf="reactiveForm.get('username')?.errors?.minlength"
        >
          Min number of characters: {{ reactiveForm.get('username')?.errors?.minlength.requiredLength }}
        </small>

        <small
          class="form__reactive-error"
          *ngIf="reactiveForm.get('username')?.errors?.maxlength"
        >
          Max number of characters: {{ reactiveForm.get('username')?.errors?.maxlength.requiredLength }}
        </small>
      </div>
    </div>

    <div class="form-block">
      <label class="form__reactive-subtitle">PASSWORD</label>
      <div class="input-box">
        <input class="form__reactive-input" type="password" placeholder="password" formControlName="password">
        <div class="eyes">
          <div class="eyes-one"></div>
          <div class="eyes-second"></div>
        </div>
      </div>

      <div
        class="validators"
        *ngIf="reactiveForm.get('password')?.invalid && reactiveForm.get('password')?.touched"
      >
        <small
          class="form__reactive-error"
          *ngIf="reactiveForm.get('password')?.errors?.required"
        >
          Required field!
        </small>

        <small
          class="form__reactive-error"
          *ngIf="reactiveForm.get('password')?.errors?.onlyNumberAndWord"
        >
          You must enter at least one number and letter
        </small>
      </div>
    </div>
    <div formArrayName="emails">
      <div>
        <label class="form__reactive-subtitle">YOUR EMAILS</label>
      </div>
      <div *ngFor="let control of emailFormArray.controls; let idx = index">
        <input class="form__reactive-input-dynamic" type="text" placeholder="email" [formControlName]="idx">
        <button class="btn-dynamic" (click)="removeControl(idx)">&times;</button>
        <div
          class="validators"
          *ngIf="emailFormArray.at(idx).invalid && emailFormArray.at(idx).touched"
        >
          <small
            class="form__reactive-error-dynamic"
            *ngIf="emailFormArray.at(idx)?.errors?.required"
          >
            Required field!
          </small>

          <small
            class="form__reactive-error-dynamic"
            *ngIf="emailFormArray.at(idx)?.errors?.email"
          >
            You must enter correct email
          </small>
        </div>
      </div>
      <button class="btn" type="button" (click)="addEmail()">Add email</button>
    </div>
    <button class="btn" type="submit" (click)="onSubmit()" [disabled]="reactiveForm.invalid">Send</button>
  </form>
</div>

